

/******************************/
/* email index                */
/******************************/
.email-index main {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-right: 56px;
    max-height: calc(100vh - 15px);
}

@media screen and (max-width: 991px) { /* mobile */
    .email-index main {
        margin: 0 10px;
        max-height: none;
    }
}


/******************************/
/* email compose              */
/******************************/
.email-compose {
    position: absolute;
    float: right;
    right: 50px;
    bottom: 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    -webkit-box-shadow: 0px 8px 10px 1px rgba(0,0,0,.14), 0px 3px 14px 2px rgba(0,0,0,.12), 0px 5px 5px -3px rgba(0,0,0,.2);
    box-shadow: 0px 8px 10px 1px rgba(0,0,0,.14), 0px 3px 14px 2px rgba(0,0,0,.12), 0px 5px 5px -3px rgba(0,0,0,.2);
    border: 1px solid #ccc;
    width: 515px;
    height: 290px;
    float: right;
    z-index: 5;
    background-color: var(--email-compose-background);
}

.email-compose header {
    background-color: var(--email-compose-background-header);
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.email-compose header h2 {
    font-size: 14px;
    padding-left: 10px;
}

.email-compose header svg {
    margin: 0;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    align-items: center;
    display: inline-grid;
    line-height: 1px;
}

.email-compose header svg:hover {
    background-color: var(--email-list-icon-background-hover);
}

.email-compose .new-message {
    padding: 0 20px;
    display: inline-grid;
    width: 100%;
}

.email-compose .new-message div {
    position: relative;
    border-bottom: 1px solid var(--email-compose-field-border);
    height: 37px;
}

.email-compose .new-message div::before,
.email-compose .new-message div::after {
    font-size: 14px;
    font-weight: 400;
}

.email-compose .new-message div::before{
    margin-right: 5px;
}

.email-compose .new-message div:not(:focus-within)::before,
.email-compose .new-message div:not(:focus-within)::after {
    display: none;
}

.email-compose .new-message div input {
    border: 0;
    height: 36px;
}

.email-compose .new-message div input:not(:focus-within) {
    border: 0;
}

.email-compose .new-message div input:focus-visible {
    outline: 0;
}

.email-compose .new-message div.recipients input {
    width: calc(100% - 60px);
}

.email-compose .new-message div.recipients::before {
    content: 'To';
}

.email-compose .new-message div.recipients::after {
    content: 'Cc Bcc';
}

.email-compose .new-message textarea.body {
    height: 107px;
    padding: 10px 0;
    overflow: auto;
    font-size: 14px;
    border: 0;
    resize: none;
}

.email-compose .new-message textarea.body:focus-visible {
    outline: 0;
}

.email-compose .new-message textarea::-webkit-scrollbar {
    width: 10px;
}
  
.email-compose .new-message textarea::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-background);
    border-radius: 0;
}
  
.email-compose .new-message textarea::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-background);
    border-radius: 0;
}
  
.email-compose .new-message textarea::-webkit-scrollbar-track:hover {
    background-color: var(--scrollbar-track-background-hover);
    border: 1px solid var(--scrollbar-track-border-hover);
}

.email-compose .new-message .actions {
    border: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-compose .new-message .actions .send {
    background-color: var(--button-positive-background);
    color: var(--button-positive);
    width: 104px;
    height: 36px;
    border-radius: 18px;
    border: 0;
    font-weight: bold;
    margin-top: 5px;
}

.email-compose .new-message .actions svg {
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    align-items: center;
    display: inline-grid;
}

 .new-message .actions svg:hover {
    background-color: var(--email-list-icon-background-hover);
}

.email-compose.minimize{
    width: 260px;
    height: 40px;
}

.email-compose.minimize header{
    height: 40px;
}

.email-compose.minimize .new-message {
    display: none;
}

.email-compose.fullscreen.maximize {
    top: calc(50% - 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1236px;
    width: calc(100% - 40px); 
    height: calc(100% - 40px); 
    margin: 20px auto; 
}

.email-compose.fullscreen.maximize .new-message {
    display: block;
    height: calc(100% - 120px);
}

.email-compose.fullscreen.maximize .new-message textarea.body {
    min-height: 87px;
    height: calc(100% - 65px);
    width: 100%;
}

@media screen and (max-width: 991px) { /* mobile */
    .email-compose {
        right: 0;
        width: 100%;
        height: 100%;
    }

    .email-compose1 header {
        background-color: var(--mobile-email-compose-background-header);
    }

    .email-compose header h2 {
        padding-left: 0;
    }

    .email-compose header svg {
        margin: 0 5px;
    }

    .email-compose .new-message textarea.body {
        height: calc(100vh - 135px);
    }

}


/******************************/
/* email details              */
/******************************/
.email-details {
    background-color: var(--email-details-backgound);
    border-radius: 16px;
    padding: 10px;
    margin-top: 9px;
}

.email-details article {
    padding: 10px;
}

.email-details article.body {
    white-space: pre-line;
}

.email-details article.actions {
    padding: 10px 0;
}

.email-details article.actions svg {
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 18px;
    padding: 5px;
    text-align: center;
    align-items: center;
    display: inline-grid;
}

.email-details article.actions svg:hover {
    background-color: var(--email-list-icon-background-hover);
}

.email-details article.subject h2 {
    -webkit-font-smoothing: antialiased;
    font-size: 22px;
    font-variant-ligatures: no-contextual;
    color: var(--email-compose-header);
    font-weight: bold;
}

.email-details article.from-and-date {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

/******************************/
/* email filter               */
/******************************/

.email-filter form {
    background-color: var(--email-search-background);
    height: 46px;
    width: 200px;
    border-radius: 16px;
    align-items: center;
    display: flex;
    margin-top: 16px
}

.email-filter form svg {
    margin: 10px;
}

.email-filter form input {
    width: 150px;
    height: 22px;
    background: transparent;
    font-size: 16px;
    border: 0;
}

.email-filter form input:focus-visible {
    outline: 0;
}

.email-filter ul {
    list-style: none;
    width: 100%;
    margin: 9px auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    min-height: 45px; 
    background: var(--email-filter-background);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 0 5px;
}

.email-filter ul li {
    font-size: 14px;
    border: 1px solid var(--email-filter-border);
    border-radius: 16px;
    padding: 2px 7px;
    margin: 0 5px;
    white-space: nowrap;
    cursor: default;
    height: 24px;
}

.email-filter ul .selected {
    font-weight: bold;
}

.email-filter ul li svg {
    text-align: center;
    color: var(--text) 
}

.email-filter ul li input {
    bottom: 3px;
    position: relative;
}

.email-filter ul li span {
    bottom: 5px;
    position: relative;
}

.email-filter ul li.drop-down.partial input[type="checkbox"]:after {
    content: '\2013'; 
    font-size: 12px;
    top: -4.5px;
    position: relative;
    left: 3px;
    font-weight: bold;
    color: var(--text);
}

.email-filter ul li.drop-down ul {
    position: absolute;
    display: block;
    background: var(--email-filter-read-background);
    border-radius: 2px;
    max-width: 120px;
    border: 1px solid var(--email-filter-read-border);
    margin-left: -7px;
    margin-top: 5px;
    padding: 0;
    z-index: 3;
}

.email-filter ul li.drop-down ul li {
    border: 0;
    border-radius: 0;
    padding-left: 50px;
    font-weight: normal;
    margin: 0;
    height: 32px;
    display: flex;
    align-items: center;
}

.email-filter ul li.drop-down ul li.selected {
    background-color: var(--email-folder-list-item-background-selected);
}

.email-filter ul li.drop-down ul li:hover {
    background-color: var(--email-folder-list-item-background-hover);
}

.email-filter ul li.drop-down ul li.selected::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    content: "\0000a0";
    display: block;
    border-right: 2px solid var(--text);;
    border-bottom: 2px solid var(--text);;
    opacity: 0.54;
    position: absolute;
    z-index: 0;
    height: 12px;
    left: 26px;
    margin-top: -5px;
    width: 5px;
}

.email-filter ul li.multy-select-actions {
    border: 0;
    border-radius: 16px;
    display: flex;
    height: 35px;
}

.email-filter ul li.multy-select-actions svg {
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 18px;
    padding: 5px;
    text-align: center;
    align-items: center;
    display: inline-grid;
}

.email-filter ul li.multy-select-actions svg.star {
    color: var(--email-starred);
}

.email-filter ul li.multy-select-actions svg:hover {
    background-color: var(--email-list-icon-background-hover);
}

.email-filter ul li.filter-actions {
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
    bottom: 11px;
    position: relative;
}

.email-filter ul li.filter-actions > ul {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 991px) { /* mobile */
    .email-filter form {
        width: auto;
    }

    .email-filter form svg {
        margin: 11px 10px 10px 10px;
    }

    .email-filter form input {
        width: calc(100% - 68px);
    }

    .email-filter form span.avatar {
        align-self: start;
        padding-left: 0;
        margin-top: 11px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 12px;
    }

    .email-filter ul {
        display: none;
    }
}

/******************************/
/* email folder list          */
/******************************/

.email-folder-list ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    justify-content: flex-start;
    width: 256px;
}

.email-folder-list ul hr {
    border: none;
    border-top: 1px solid var(--email-folder-list-item-divider);
    margin: 10px 19px 10px 22px;
}

.email-folder-list ul li {
    font-size: 14px;
    width: 240px;
    height: 32px;
    display: flex;
    align-items: center;
    padding-left: 26px;
    cursor: default;
}

.email-folder-list ul li:hover {
    background-color: var(--email-folder-list-item-background-hover);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 16px;
}

.email-folder-list ul li.selected {
    background-color: var(--email-folder-list-item-background-selected);
    font-weight: bold;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 16px;
}

.email-folder-list ul li.compose {
    height: 80px;
    display: flex;
}

.email-folder-list ul li.compose:hover {
    background-color: transparent;
}

.email-folder-list ul li svg {
    margin-right: 12px;
    width: 20px;
    text-align: center;
}

.email-folder-list ul li div.new-count {
    margin-left: auto;
    margin-right: 12px;
}

/* thin */
.email-folder-list ul.thin {
    width: 75px;
}

.email-folder-list ul.thin div {
    display: none;
}

.email-folder-list ul.thin hr {
    border-top: 1px solid transparent;
}


.email-folder-list ul.thin li {
    width: 31px;
    padding-left: 20px;
}

.email-folder-list ul.thin li.compose {
   padding-left: 10px;
}

.email-folder-list ul.thin li.compose button {
    width: 56px;
    padding: 0 12px;
}

.email-folder-list ul.thin li i {
    width: 31px;
    text-align: center;
    border-radius: 16px;
    padding: 9px;
}

.email-folder-list ul.thin li.selected i {
    background-color: var(--email-folder-list-item-background-selected);
}

.email-folder-list ul.thin li:hover i {
    background-color: var(--email-folder-list-item-background-hover);
}

@media screen and (max-width: 991px) { /* mobile */
    .email-folder-list {
        width: 70%;
        height: 100%;
        background-color: var(--mobile-email-folder-list-background);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000;
        -webkit-animation: slide-from-left 0.3s forwards;
        animation: slide-from-left 0.3s forwards;
    }

    .email-folder-list-hidden {
        -webkit-animation: slide-to-left 0.3s forwards;
        animation: slide-to-left 0.3s forwards;
        display: none;
    }

    .email-folder-list ul {
        margin: 20px auto;
        width: auto;
    }
    
    .email-folder-list ul li.compose,
    .email-folder-list ul hr {
        display: none;
    }
    
    .email-folder-list ul li {
        width: auto;
        margin-right: 10px;
    }
    

}

/******************************/
/* email list                 */
/******************************/
.email-list {
    overflow: auto;
}

.email-list::-webkit-scrollbar {
    width: 12px;
}
  
.email-list::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-background);
    border-radius: 0;
}
  
.email-list::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-background);
    border-radius: 0;
}

.email-list::-webkit-scrollbar-track:hover {
    background-color: var(--scrollbar-track-background-hover);
    border: 1px solid var(--scrollbar-track-border-hover);
}

.email-list-footer {
    background: var(--email-list-background);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    min-height: 25px;
}

@media screen and (max-width: 991px) { /* mobile */
    .email-list {
        margin-top: 10px;
    }
}

/******************************/
/* email preview              */
/******************************/
div.email-preview {
    display: grid;
    grid-template-columns: 28px 48px 232px auto auto 1fr 150px;
    gap: 0px;
    background-color: var(--email-preview-background);
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding-left: 26px;
    border-top: 1px solid #e4eaf0;
}

div.email-preview:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    z-index: 2;
    position: relative;
}

div.email-preview.unread {
    background-color: var(--email-preview-background-unread);
    font-weight: bold;
}

div.email-preview.unread.draft {
    font-weight: normal;
}

div.email-preview span {
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.email-preview span.star {
    margin-right: 14px;
}

div.email-preview span.star svg {
    margin-right: 12px;
    width: 20px;
    text-align: center;
}

div.email-preview.starred span.star svg {
    color: var(--email-starred);
}

div.email-preview span.avatar {
    display: none;
}

div.email-preview span.email,
div.email-preview span.draft {
    margin-right: 32px;
}

div.email-preview .draft {
    display: none;
}

div.email-preview.draft .email {
    display: none;
}

div.email-preview.draft .draft {
    color: var(--draft-text);
    font-weight: normal;
    display: inline;
}

div.email-preview span.body {
    font-weight: normal;
}

div.email-preview span.subject-body-seprerator {
    width: 14px;
    text-align: center;
}

div.email-preview span.date {
    margin-left: auto;
    min-width: 72px;
    margin-right: 16px;
    text-align: right;
}

div.email-preview:hover span.date {
    display: none;
}

div.email-preview span.actions {
    margin-left: auto;
    width: 150px;
    min-width: 150px;
    text-align: right;
    display: none;
}

div.email-preview:hover span.actions {
    display: block;
    padding-right: 5px;
}

div.email-preview:hover span.actions svg {
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 18px;
    padding: 5px;
    text-align: center;
    align-items: center;
    display: inline-grid;
}

div.email-preview:hover span.actions svg:hover {
    background-color: var(--email-list-icon-background-hover);
}

div.email-preview:hover span.actions svg.disabled {
    color: var(--disabled-text);
}

div.email-preview:hover span.actions svg.disabled:hover {
    background-color: transparent;
}

@media screen and (max-width: 991px) { /* mobile */
    div.email-preview span.star { grid-area: st; }  
    div.email-preview span.avatar { grid-area: av; }  
    div.email-preview span.email { grid-area: em; }  
    div.email-preview span.draft { grid-area: dr; }  
    div.email-preview span.subject { grid-area: su; }  
    div.email-preview span.subject-body-seprerator { grid-area: se; }  
    div.email-preview span.body { grid-area: bo; }  
    div.email-preview span.date { grid-area: da; }  

    div.email-preview {
        grid-template-columns: 40px 1fr 100px;		
        grid-template-areas:
            "av em da"
            "av su su"
            "av bo st";
        height: auto;
        margin: 0;
        padding: 10px 0 10px 10px;
        background-color: var(--mobile-email-preview-background);
        border: 0;
        line-height: 20px;
    }

    div.email-preview:hover {
        box-shadow: none;
        z-index: 2;
        position: relative;
        background-color: var(--mobile-email-preview-background-hover);
        border-radius: 16px;
    }

    div.email-preview.draft {
        grid-template-areas:
            "av dr da"
            "av su su"
            "av bo st";
    }

    div.email-preview span.avatar {
        align-self: start;
        padding-left: 0;
        margin-top: 8px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white; 
        font-size: 15px; 
    }

    div.email-preview span.star { 
        text-align: end;
        margin-right: 0;
    }  

    div.email-preview span.subject {
        margin-right: 50px;
    }

    div.email-preview span.subject-body-seprerator {
        display: none;
    }

    div.email-preview span.date {
        font-size: 13px;
        margin-right: 13px;
    }

    div.email-preview:hover span.actions {
        display: none;
    }
}

/******************************/
/* compose button             */
/******************************/

.compose-button.css-sghohy-MuiButtonBase-root-MuiButton-root {
    border-radius: 16px;
    height: 56px;
    padding: 0 24px;
    background-color: var(--email-folder-list-compose-background);
    border-width: 0;
    align-items: center;
    display: flex;
    text-transform: none;
    color: var(--text);
}

.compose-button i {
    margin-right: 0;
}

.compose-button.css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
    background-color: var(--email-folder-list-compose-background);
    box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
}

@media screen and (max-width: 991px) { /* mobile */
    .compose-button {
        position: fixed;
        bottom: 15px;
        right: 26px;
    }
}