.home {
    height: calc(100vh - 100px);
    overflow: auto;
}

.home::-webkit-scrollbar {
    width: 12px;
}
  
.home::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-background);
    border-radius: 0;
}
  
.home::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-background);
    border-radius: 0;
}

.home::-webkit-scrollbar-track:hover {
    background-color: var(--scrollbar-track-background-hover);
    border: 1px solid var(--scrollbar-track-border-hover);
}

.home div {
    max-width: 1080px;
    margin: 0 auto;
}

.home .title {
    margin-bottom: 30px;
}

.home .title h1 {
    font-size: 30px;
}

.home .title p {
    margin: 10px 0;
}