.home {
    height: calc(100vh - 100px);
    overflow: auto;

    &::-webkit-scrollbar {
        width: 12px;
    }
      
    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-background);
        border-radius: 0;
    }
      
    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-background);
        border-radius: 0;

        &:hover {
            background-color: var(--scrollbar-track-background-hover);
            border: 1px solid var(--scrollbar-track-border-hover);
        }
    }
    
    div {
        max-width: 1080px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 3fr 1fr;		
        grid-template-rows: auto auto auto;
        gap: 0;
        grid-template-areas:
            "t t"
            "f s"
            "g s";
    }
    
    .title {
        margin-bottom: 30px;
        grid-area: t;

        h1 {
            font-size: 30px;
        }
        
        p {
            margin: 10px 0;
        }    
    }
    
    .features {
        grid-area: f;
    }
    
    .get-started {
        grid-area: g;
    }
    
    .statistics {
        grid-area: s;
    }
}

