/*  Basics */
@import "basics/base.css";
@import "basics/helpers.css";
@import "basics/layout.css";
@import "basics/animations.css";

/* Pages */
@import "./pages/home.css";
@import "./pages/about.css";
@import "./pages/email.css";

/* Components */
@import "./cmps/app-header.css";
@import "./cmps/app-footer.css";


:root {
    /* palette */
    --palette1: #001d35;
    --palette2: #1f1f1f;
    --palette3: #f0f4f9;
    --palette4: #d3e3fd;
    --palette5: #c2e7ff;
    --palette6: #0b57d0;
    --palette7: #e9eef6;
    --palette8: #e0edf5;
    --palette9: #2021240f;
    --palette10: #e1e3e1;
    --palette11: #cccccc;
    --palette12: #f6f6f6;
    --palette13: #f2f6fc;
    --palette14: #dedede;
    --palette15: #eff2f3;
    --palette16: #ffffff;
    --palette17: #f7ca4c;
    --palette18: #dd4b39;

    
    --background: var(--palette3);
    --text: var(--palette1);
    --disabled-text: var(--palette10);
    --draft-text: var(--palette18);
    --error-text: var(--palette18);
    --warning-text: var(--palette17);
    --success-text: var(--palette1);
    --message-text: var(--palette1);
    --scrollbar-thumb-background: var(--palette11);
    --scrollbar-track-background: var(--palette16);
    --scrollbar-track-background-hover: var(--palette13);
    --scrollbar-track-border-hover: var(--palette14);
    --header-background: var(--palette4);
    --header-text: var(--palette16);
    --header-text-hover: var(--palette1);
    --footer-background: var(--palette4);
    --footer-text: var(--palette16);
    --footer-help-background: var(--palette6); 
    --footer-help-border: var(--palette2); 
    --button-positive: var(--palette16);
    --button-positive-background: var(--palette6);
    --button-negative: var(--palette16);
    --button-negative-background: var(--palette10);
    --email-folder-list-item-divider: var(--palette10);
    --email-folder-list-item-background-hover: var(--palette9);
    --email-folder-list-item-background-selected: var(--palette7);
    --email-folder-list-compose-background: var(--palette5);
    --email-search-background: var(--palette7);
    --email-filter-background: var(--palette16);
    --email-filter-border: var(--palette10);
    --email-filter-read-border: var(--palette10);
    --email-filter-read-background: var(--palette16);
    --email-filter-read-background-selected: var(--palette10);
    --email-filter-read-background-hover: var(--palette10);
    --email-preview-background: var(--palette12);
    --email-preview-background-unread: var(--palette16);
    --email-starred: var(--palette17);
    --email-details-backgound: var(--palette16);
    --email-list-background: var(--palette16);
    --email-list-icon-background-hover: var(--palette9);
    --email-compose-background: var(--palette16);
    --email-compose-header: var(--palette2);
    --email-compose-background-header: var(--palette12);
    --email-compose-field-border: var(--palette15);
    
    --mobile-background: var(--palette16);
    --mobile-email-preview-background: var(--palette16);
    --mobile-email-preview-background-hover: var(--palette16);
    --mobile-email-compose-background-header: var(--palette16);
    --mobile-overlay-background: var(--palette11);
    --mobile-email-folder-list-background: var(--palette8);
    --mobile-menu-item-divider: var(--palette11);

    /* size */
    --mobile-max-size: 991px;
}




