* {
    box-sizing: border-box;
}

html {
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    background-color: var(--background);
    color: var(--text);
    overflow-y: hidden;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: hidden;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

}

a:hover {
    text-decoration: underline;
}

button {
    font-family: inherit;
    cursor: pointer;

    * {
        pointer-events: none;
    }
}

input {
    font-family: inherit;
    text-align: inherit;
}

/* MAC like scrollbar */
::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
    -webkit-border-radius: 100px;
}

@media screen and (max-width: 991px) { /* mobile */
    html {
        font-size: 14px;
        background-color: var(--mobile-background);
    }
}

.main-app {
    display: grid;
    grid-template-columns: 1fr;		
    grid-template-rows: auto 1fr auto;
    gap: 0;
    grid-template-areas:
        "h"
        "m"
        "f";
}

.main-app.has-aside {
    grid-template-columns: 256px 1fr;		
    grid-template-areas:
        "a m"
}

.main-app header {
    grid-area: h;
}   

.main-app aside {
    grid-area: a;
}   

.main-app main {
    grid-area: m;
}

.main-app.aside {
    width: 256px
}

.main-app footer {
    grid-area: f;
}

@media screen and (max-width: 991px) { /* mobile */
    .main-app.has-aside {
        grid-template-columns: 1fr;		
        grid-template-areas:
            "m"
    }
}

a.active {
    color: rgb(84, 17, 147);
    font-weight: 600;
}

.hide-content {
    visibility: hidden;
}

/******************************/
/* screen sizes               */
/******************************/

@media screen and (min-width: 992px) { /* web */
    .mobile {
        display: none!important;
    }
}

@media screen and (max-width: 991px) { /* mobile */
    .web {
        display: none!important;
    }
}

/* ============================ */
/* overlay                      */
/* ============================ */
@media screen and (max-width: 991px) {  /* -- mobile -- */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-width: 100%; 
        height: 100%;
        background: var(--mobile-overlay-background); 
        opacity: 0.7;
        z-index: 1000; 
    }
}

/* ============================ */
/* animations                   */
/* ============================ */

@keyframes slide-from-left {
    from {
        transform: translateX(-70%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-to-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-70%);
    }
}