* {
    box-sizing: border-box;
}

html {
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    background-color: var(--background);
    color: var(--text);
    overflow-y: hidden;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: hidden;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

}

a:hover {
    text-decoration: underline;
}

button {
    font-family: inherit;
    cursor: pointer;

    * {
        pointer-events: none;
    }
}

input {
    font-family: inherit;
    text-align: inherit;
}

/* MAC like scrollbar */
::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
    -webkit-border-radius: 100px;
}

@media screen and (max-width: 991px) { /* mobile */
    html {
        font-size: 14px;
        background-color: var(--mobile-background);
    }
}

.main-app {
    display: grid;
    grid-template-columns: 1fr;		
    grid-template-rows: auto 1fr auto;
    gap: 0;
    grid-template-areas:
        "h"
        "m"
        "f";
}

.main-app.has-aside {
    grid-template-columns: 256px 1fr;		
    grid-template-areas:
        "a m"
}

.main-app header {
    grid-area: h;
}   

.main-app aside {
    grid-area: a;
}   

.main-app main {
    grid-area: m;
}

.main-app.aside {
    width: 256px
}

.main-app footer {
    grid-area: f;
}

@media screen and (max-width: 991px) { /* mobile */
    
    .main-app main {
        padding: 10px;
    }

    .main-app {
        display: grid;
        grid-template-columns: 1fr;		
        grid-template-rows: auto 1fr auto;
        gap: 0;
        grid-template-areas:
            "h"
            "m"
            "f";
    }

    .main-app.has-aside {
        grid-template-columns: 1fr;		
        grid-template-areas:
            "m"
    }
}

a.active {
    color: rgb(84, 17, 147);
    font-weight: 600;
}

.hide-content {
    visibility: hidden;
}

/******************************/
/* screen sizes               */
/******************************/

@media screen and (min-width: 992px) { /* web */
    .mobile {
        display: none!important;
    }
}

@media screen and (max-width: 991px) { /* mobile */
    .web {
        display: none!important;
    }
}

/* ============================ */
/* alert                        */
/* ============================ */

.alert {
    position: absolute;
    top: calc(50% - 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    min-height: 290px;
    margin: 20px auto; 
    -webkit-box-shadow: 0px 8px 10px 1px rgba(0,0,0,.14), 0px 3px 14px 2px rgba(0,0,0,.12), 0px 5px 5px -3px rgba(0,0,0,.2);
    box-shadow: 0px 8px 10px 1px rgba(0,0,0,.14), 0px 3px 14px 2px rgba(0,0,0,.12), 0px 5px 5px -3px rgba(0,0,0,.2);
    border: 1px solid #ccc;
    border-radius: 16px;
    z-index: 5;
    background-color: var(--email-compose-background);
}

.alert header {
    background-color: var(--email-compose-background-header);
    border-radius: 16px 16px 0 0;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.alert header div {
    display: flex;
}

.alert.message header div {
    color: var(--message-text);
}

.alert.success header div {
    color: var(--success-text);
}

.alert.warning header div {
    color: var(--warning-text);
}

.alert.error header div {
    color: var(--error-text);
}

.alert header div h2 {
    font-size: 14px;
    padding-left: 10px;
}

.alert header i {
    width: 22px;
    height: 22px;
    margin: 0 2px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    align-items: center;
    display: inline-grid;
    line-height: 1px;
}

.alert header i:not(:first-child):hover {
    background-color: var(--email-list-icon-background-hover);
}

.alert .message {
    display: inline-grid;
    width: 100%;
    height: 180px;
    overflow: auto;
}

.alert .message:focus-visible {
    outline: 0;
}

.alert .message::-webkit-scrollbar {
    width: 10px;
}
  
.alert .message::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-background);
    border-radius: 0;
}
  
.alert .message::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-background);
    border-radius: 0;
}
  
.alert .message::-webkit-scrollbar-track:hover {
    background-color: var(--scrollbar-track-background-hover);
    border: 1px solid var(--scrollbar-track-border-hover);
}

.alert .message p {
    font-size: 14px;
    border: 0;
    margin: 10px 20px;
}

.alert .buttons {
    border: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.alert .buttons button {
    width: 104px;
    height: 36px;
    border-radius: 18px;
    border: 0;
    font-weight: bold;
    margin: 5px 5px 0;
}

.alert .buttons button.positive {
    background-color: var(--button-positive-background);
    color: var(--button-positive);
}

.alert .buttons button.negative {
    background-color: var(--button-negative-background);
    color: var(--button-negative);
}

/* ============================ */
/* overlay                      */
/* ============================ */
@media screen and (max-width: 991px) {  /* -- mobile -- */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-width: 100%; 
        height: 100%;
        background: var(--mobile-overlay-background); 
        opacity: 0.7;
        z-index: 1000; 
    }
}

/* ============================ */
/* animations                   */
/* ============================ */

@keyframes slide-from-left {
    from {
        transform: translateX(-70%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-to-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-70%);
    }
}