header {
    background: var(--header-background);
    align-items: center;
    display: grid;
    height: 60px;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
}

header nav ul li {
    padding: 0 40px 0 0;
}

header nav ul li a {
    color: var(--header-text);
    text-decoration-line: none;
}

header nav ul li a i {
    margin-right: 5px;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: var(--header-text-hover);
    text-decoration-line: none;
    transition: all .3s ease-in-out;
}