footer {
    background: var(--footer-background);
    color: var(--footer-text);
    text-align: center;
    height: 40px;
    align-items: center;
    display: grid;
}

footer a {
    position: fixed;
    bottom: 0;
    right: 50px;
    background: var(--footer-help-background);
    border-top: 1px sold var(--footer-help-border);
    border-left: 1px sold var(--footer-help-border);
    border-right: 1px sold var(--footer-help-border);
    color: var(--footer-add-new-text);
    padding: 15px;
    border-radius: 20px 20px 0 0;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
}

footer i {
    margin-right: 5px;
}

footer a:hover {
    text-decoration: none;
}
